.my-card {
    color: greenyellow;
    background-color: black;
    padding: 50px;
    margin-bottom: 100px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px greenyellow;
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.03)
    }
}